@media only screen and (max-width: 992px) {
    .header {
        margin-left: -45px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 0;
        margin: 0;
    }
    .menu-bar {
        font-size: 19px !important;
    }
    .sections {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
    .section {
        padding: 0;
    }
    .bars {
        padding: 20px;
        margin: 0;
    }
    .main-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        max-width: min-content;
        padding: 0;
    }
    .section-title {
        font-size: xx-large !important;
    }
}

@media only screen and (max-width: 768px) {
    .header {
        margin-left: -45px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 0;
        margin: 0;
    }
    .menu-bar {
        font-size: 19px !important;
    }
    .sections {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
    .section {
        padding: 0;
    }
    .bars {
        padding: 20px;
        margin: 0;
    }
}

@media only screen and (max-width: 576px) {}